<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have a new notification: <%= @notification.subject.html_safe? ? @notification.subject : strip_tags(@notification.subject) %></h1>
    <p>
      You have received a new notification:
    </p>
    <blockquote>
      <p>
        <%= raw @notification.body %>
      </p>
    </blockquote>
    <p>
    </p>
  </body>
</html>
